<div class="log-form" id="signin">
    <div class="background"></div>

    <h1>CaaS</h1>

    <div data-ng-if="showForm == 'signin'">
      <div class="form-block">
          <form data-ng-submit="login()" id="ajaxform">
              <h3 ng-if="!currentUser.username" translate>Sign in to continue</h3>
              <h3 ng-if="currentUser.username" translate>Link to existing account</h3>
              <br />

              <input type="email" data-ng-model="formData.email" name="email" class="form-control" placeholder="{{'E-mail'|translate}}" required="true" autocomplete="off" autofocus/>
              <br />

              <div class="form_row_password">
                  <input type="password" data-ng-model="formData.password" name="password" class="form-control" placeholder="{{'Password'|translate}}" required="true" autocomplete="off"/>
                  <a href="/recover-account" class="forgotpass" tooltip-placement="left" tooltip="{{'Forgot your password?'|translate}}">
                      <b class="question_mark">?</b>
                  </a>
              </div>
              <br />

              <button ng-if="!currentUser.username" type="submit" class="btn btn-primary" translate>Log in to CaaS</button>
              <a ng-if="!currentUser.username" href="/signup" class="btn btn-default" translate>Create an Account</a>

              <button ng-if="currentUser.username" type="submit" class="btn btn-primary" translate>Link Accounts</button>
              <a ng-if="currentUser.username" href="/signup" class="btn btn-default" translate>Create a New Account</a>

          </form>
          <br />

          <h4 ng-if="!currentUser.username" translate>Alternatively, you can log in using:</h4>
          <br ng-if="!currentUser.username" />

          <div ng-if="!currentUser.username" class="social">
              <a class="fb_connect" href="/auth/facebook" target="_top">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
              </a>
              <a class="go_connect" href="/auth/google" target="_top">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-google fa-stack-1x"></i>
                </span>
              </a>
              <a class="tw_connect" href="/auth/twitter" target="_top">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
              </a>
          </div>
      </div>

      <!--<h4><a href="/" translate>Get CaaS for your site</a></h4>-->

    </div>
            
    <div data-ng-if="showForm == 'signup'">
      <div class="form-block">
        <form data-ng-submit="register()" id="registration_form" name="registration_form">

            <h3 translate>Create an account</h3>
            <br />

            <input data-ng-model="formData.email" name="email_register" class="form-control" type="email" placeholder="{{'E-mail'|translate}}" required="true" autocomplete="off" autofocus/>
            <br />

            <div class="form_row form_row_password">
                <input data-ng-model="formData.password" type="password" name="password_register" class="form-control" placeholder="{{'Password'|translate}}" required="true" autocomplete="off"/>
                <div class="password_strength_meter inactive" id="password_strength_meter">
                    <strong class="l5"></strong>
                    <strong class="l4 l5"></strong>
                    <strong class="l3 l4 l5"></strong>
                    <strong class="l2 l3 l4 l5"></strong>
                    <strong class="l1 l2 l3 l4 l5"></strong>
                </div>
            </div>
            <br />

            <input data-ng-model="formData.name" name="name" type="text" placeholder="{{'Name'|translate}}" class="form-control" maxlength="40" required="true" autocomplete="off"/>
            <br />

            <button type="submit" class="btn btn-primary" translate>Create Account</button>
            <br />
            <!-- / submit -->
            <br />
            <br ng-if="!currentUser.username" />

            <h4 ng-if="!currentUser.username" translate>...or create an account with:</h4>
            <br ng-if="!currentUser.username" />

            <div ng-if="!currentUser.username" class="social">
              <a class="fb_connect" href="/auth/facebook" target="_top">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
              </a>
              <a class="go_connect" href="/auth/google" target="_top">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-google fa-stack-1x"></i>
                </span>
              </a>
              <a class="tw_connect" href="/auth/twitter" target="_top">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
              </a>
            </div>
        </form>
      </div>

      <!--<h4><span translate>Already have an account?</span> <a href="/signin" translate>Log in</a> <span translate>or</span></h4>
      <h4><a href="/" translate>get CaaS for your site</a></h4>-->
      <h4><span translate>Already have an account?</span> <a href="/signin" translate>Log in</a></h4>

    </div>

    <div data-ng-if="showForm == 'recover-account'" class="form-block">

        <h3 translate>Reset your password</h3>
        <br />

        <p translate>If you have forgotten your password, we will send you an email to reset your password.</p>

        <form data-ng-show="!success" data-ng-submit="recover()" id="pass_recover_form" name="pass_recover_form">

            <input data-ng-model="formData.email" name="email-recover" class="form-control" type="email" placeholder="{{'Account email address'|translate}}" required="true"/>
            <br />

            <button type="submit" class="btn btn-primary btn-block" translate>Continue</button>

        </form>

    </div>

    <div data-ng-if="showForm == 'reset-password'">
        <div class="form-block">
          <form data-ng-submit="resetPassword()" id="ajaxform">
              <h3 ng-if="!currentUser.name" translate>Sign in to continue</h3>
              <h3 ng-if="currentUser.name" translate>Update your password</h3>
              <br />

              <input type="email" data-ng-model="formData.email" name="email" class="form-control" placeholder="{{'E-mail'|translate}}" required="true" autocomplete="off" autofocus/>
              <br />

              <input type="password" data-ng-model="formData.password" name="password" class="form-control" placeholder="{{'Password'|translate}}" required="true" autocomplete="off"/>
              <br />

              <button ng-if="!currentUser.username" type="submit" class="btn btn-primary" translate>Log in to CaaS</button>

          </form>
      </div>
</div>